.info {
	margin-top: 20px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr;
	background-color: #ecf0f1;
	padding: 10px;
	grid-gap: 20px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
	&__avatar {
		margin: 0 auto;
		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}
	&__descr {
		grid-column: 2;
		h2 {
			color: #524f4f;
			text-transform: uppercase;
			font-size: 1.5rem
		}
		ul {
			margin-top: 10px;
			span {
				line-height: 1;
				font-size: 18px;
				margin-right: 7px;
			}
		}
	}
}