.social {
	font-size: 18px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	&:hover {
		span {
			transition: 0.25s all;
			color: #2ecc71;
		}
		div {
			transform: translateY(-5px);
		}
	}
	&__icon {
		margin-right: 5px;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ffffff;
		transition: 0.25s all;
		p {
			border-radius: 100%;
			padding: 5px;
		}
	}
}
